 <div *ngIf="movie">
     <div >
        <div class="col-md-4">
    <img [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path" width="200px">
            <h2><span>Title:{{movie.title}}</span></h2>
        <p><span>Realease Year:{{movie.release_date}}</span></p>
        <p><span>Description:{{movie.overview}}</span></p>
        <button class="btn btn-danger" *ngIf="movie.homepage"  (click)="movie.homepage">Visit website</button>
        </div></div></div>
        <a routerLink="" class="btn btn-primary btn-lg">Go Back</a>